:root{
    --bg: rgb(237, 109, 165);
    --button: rgb(219, 53, 108);
    --button2: rgb(249, 83, 138);
    --right: rgb(128, 196, 55);
    --wrong: rgb(225, 0, 0);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    font-family: sans-serif;
    background: var(--bg);
}

h1{
    text-align: center;
}


#wrapper{
    width: 75vw;
    padding: calc(5%);
    background: rgb(200,200,200);
    position: relative;
    top: calc(15vh);
}

#answer-grid{
    display: grid;
    grid-template-columns: repeat(2, calc(10em));
    grid-gap: calc(10em);
    justify-content: space-evenly;
}

/* Preddy decor for the quotes */

#quote{
    background: ghostwhite;
    color: black;
    display: inline-block;
    line-height: 2em;
    margin-bottom: 1em;
    padding: .2em 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
    min-width: 7em;
    border-radius: 10px;
    max-width: 25em;
    min-height: 2em;
    font-size: 1.25em;

}
#quote::after{
    border: 1em solid transparent;
	border-top-color: ghostwhite;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 30%;
		left: 100%;
	width: 0;
	height: 0;
}

.avatar{
    width: calc(6em);
    height: calc(6em);
    background: transparent;
    border-radius: 50%;
    color: ghostwhite;
    transition: .1s;
    display: none;
}

button{
    padding: calc(3em);
    border-radius: 25%;
}

/* Shake button animation */

@keyframes shake {
    0%{
        transform: rotate(5deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }

}

@keyframes pop {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

.correct, .incorrect, .choice{
    transition: .2s;
}

.correct{
    background: var(--right);
    animation-name: pop;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.incorrect{
    background: var(--wrong);
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: 2;
}

.choice{
    background: var(--button);
    color: white;
    /* font-size: calc(1.2em) */
}

.choice:hover{
    background: var(--button2);
}

.centeredcontent{
    margin: 0 auto;
}

.centeredtext{
    text-align: center;
}

.autowidth{
    width:auto;
}

.gap-top{
    margin-top: calc(5vh);
}
.top, .bottom{
    position: absolute;
}
