*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}


#wrapper{
    border: 1px solid black;
    width: 75vw;
    padding: calc(5%);
}

#answer-grid{
    display: grid;
    grid-template-columns: repeat(2, calc(10em));
    grid-gap: calc(10em);
    justify-content: space-evenly;
}

/* Preddy decor for the quotes */

#quote{
    font-family: serif;
}
#quote::before, #quote::after{
    z-index: -4;
    margin: calc(-.2em);
    font-size: calc(3em);
    position: relative;
    top: .2em;
    color: rgba(0, 0, 0, 0.15);
}

#quote::before{
    content:"\201C";
}
#quote::after{
    content:"\201D";
}

button{
    padding: calc(3em);
}

/* Shake button animation */

@keyframes shake {
    0%{
        transform: rotate(5deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }

}

@keyframes pop {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

.correct, .incorrect, .choice{
    transition: .2s;
}

.correct{
    background: lime;
    animation-name: pop;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.incorrect{
    background: red;
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: 2;
}

.choice{
    background: powderblue;
}

.centeredcontent{
    margin: 0 auto;
}

.centeredtext{
    text-align: center;
}

.autowidth{
    width:auto;
}

.gap-top{
    margin-top: calc(5vh);
}
